.author {
    font-size : smaller;
    font-style : italic;
}

$bg-color: lightgrey;

body {
    padding-left: 2em;
    background-color: $bg-color;
}

$link-color: limegreen;

a {
    color: $link-color;
    &:visited {
        color: darken( $link-color, 10% );
    }
    &:hover {
        color: lighten( $link-color, 10% );
    }
}

code {
    color: darken( $link-color, 30% );
}

pre {
    background-color: darken( $bg-color, 10% );
    padding: {
        left: 1em;
        right: 1em;
        top: 0.7em;
        bottom: 1.5em;
    }
    border-radius: 4px;
    code {
        color: darken( $link-color, 30% );
    }
}


dl {
    padding-left: 2em;
    dt {
        font-weight:bold;
    }
}
