*.o
*.dirstamp
*.AppImage
.deps
src/ros
src/ros.exe
src/html_sbcl
src/html_sbcl.exe
src/gend.h
Makefile
Makefile.in
configure
config.status
config.h
config.h.in
install-sh
missing
compile
aclocal.m4
autom4te.cache
stamp-h1
depcomp
config.log
scripts/roswell*
*~
#*
/documents/.sass-cache/
/documents/html/ros.css.map
/documents/ros.css.map
*TAGS
.vscode